<h2>About Small Tales</h2>
<br/>
<div class="intro">
  <p>Small Tales is a little web app created by Adam Barak. The source code can be viewed <a href="https://github.com/ABarak64/SmallTales">here</a>.</p>
  <p>The purpose of this site is to provide a place to read and collaboratively create tales with other users.</p> 
  <p>The basic idea is that someone starts a tale, and then a variety of people add phrases to it (generally consisting of a sentence or two) to create fun and often strange tales for all to read.</p>
</div>
<div class="main">
  <a href="#/tales">Browse and contribute to tales</a>
  <a href="#/newtale">Create a new tale</a> 
</div>