<h3>{{tale.title}}</h3>
<br/>
<span ng-repeat="phrase in tale.phrases">
  <br ng-show="phrase.isNewParagraph"><br ng-show="phrase.isNewParagraph">
  {{phrase.text}} 
</span>
<br/>
<br/>
<form name="updateTaleForm">
  <label>Add a new phrase to this tale</label>
  <textarea ng-model="newPhrase.text" placeholder="Enter a sentence or two" required></textarea>
  <br/>
  <input type="checkbox" ng-model="newPhrase.isNewParagraph"> Start a new paragraph</input>
  <br/>
  <br/>
  <button class="btn" ng-disabled="updateTaleForm.$invalid" ng-click="add()">Add</button>
</form>