@media only screen and (max-width: 480px) {
  h1 {
    font-size: 400%;
    margin-top: 0.35em;
  }

  h2 {
    font-size: 200%;
  }

  h3 {
    font-size:150%;
  }

  p, span {
    font-size: 14px;
    line-height: 18px;
  }

  #footer p {
    font-size: 75%;
  }

  #nav a {
    font-size: 80%;
  }

  .taleSummary p, .taleSummary span {
    line-height: 20px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 600%;
    margin-top: 0.8em;
  }

  h2 {
    font-size: 200%;
  }

  h3 {
    font-size:250%;
  }

  p, span {
    font-size: 16px;
    line-height: 20px;
  }

  #footer p {
    font-size: 110%;
  }

  #nav a {
    font-size: 80%;
  }

  .taleSummary p, .taleSummary span {
    line-height: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  h1
  {
    font-size: 700%;
    margin-top: 1.0em;
  }

  h2 {
    font-size: 280%;
  }

  h3 {
    font-size:250%;
  }

  p, span {
    font-size: 20px;
    line-height: 30px;
  }

  #footer p {
    font-size: 110%;
  }

  #nav a {
    font-size: 100%;
  }

  .taleSummary p, .taleSummary span {
    line-height: 30px;
  }

}

@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 900%;
    margin-top: 1.1em;
  }

  h2 {
    font-size: 350%;
  }

  h3 {
    font-size:250%;
  }

  p, span {
    font-size: 24px;
    line-height: 36px;
  }

  #footer p {
    font-size: 110%;
  }

  #nav a {
    font-size: 110%;
  }

  .taleSummary p, .taleSummary span {
    line-height: 30px;
  }
}

/* regardless of window size */

#footer {
  background-color: #AD85FF;
}

#footer p {
  color: white;
  text-align: center;
  line-height: 20px;
  padding-top:10px;
}

p, span {
	font-family: "Georgia";
	color: #37302A;
}

h1 {
  line-height: 0;
}

h2 {
	line-height: 0.95;
}

h1, h2 {
  letter-spacing: -0.04em;
	color: #AD85FF;
	font-family: 'Oswald', sans-serif;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-family: "Georgia";
  color: #37302A;
  text-rendering: optimizelegibility;
  text-align: center;
  font-weight: bold;
}

.banner {
	background-color: #AD85FF;
	color: white;
}

.banner h1 {
	color: white;
}

.taleSummary {
  list-style: none outside none;
}

.taleSummary li {
  background-color: #AD85FF;
  cursor: pointer;
  margin-top: 4px;
  padding-top: 10px;
  margin-right: 20px;
  min-width: 250px;
}

.taleSummary p, .taleSummary span {
  margin-left: 10px;
  margin-bottom: 0px;
}

.taleSummary span {
  color: white;
  font-size:100%;
  font-style: italic;
}

.taleSummary p {
  font-size:150%;
  color: white;
}

.colorScale li:nth-child(1) {    background: #795DB2; }
.colorScale li:nth-child(2) {    background: #9C78E6; }
.colorScale li:nth-child(3) {    background: #B591FF; }
.colorScale li:nth-child(4) {    background: #C6AAFF; }
.colorScale li:nth-child(5) {    background: #D6C2FF; }
.colorScale li:nth-child(6) {    background: #E6DAFF; }
.colorScale li:nth-child(7) {    background: #F7F3FF; }



/* stuff for the footer */

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}

#push, #footer {
    height: 40px;
}

/* Keep bootstrap fluid stuff at full width. */

.bootstrap-diff-margin {
  margin-top: 30px;
}

.container-fluid {
    padding: 0px;
}

@media (max-width: 797px) {
    body { 
        padding-left: 0px;
        padding-right: 0px;
    }
}